@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.ql-toolbar {
  z-index: 10; /* Garante que os menus estejam acima de outros elementos */
}

.ql-picker {
  position: relative; /* Evita bugs de menu */
}

.ql-editor.content {
  height: auto!important;
  padding: 12px 0!important;
}

.ql-editor.content a {
  text-decoration: underline!important;
}

.react-quill-container .ql-toolbar {
  z-index: 9999;
}

.react-quill-container .ql-container {
  min-height: 150px;
}
